:root {
    --blue: hsl(198, 60%, 50%);
    --cyan: hsl(176, 68%, 64%);
    --dark-blue-email-bg: hsl(217, 28%, 15%);
    --dark-blue-main-bg: hsl(218, 28%, 13%);
    --dark-blue-footer-bg: hsl(216, 53%, 9%);
    --dark-blue-testimonials-bg: hsl(219, 30%, 18%);
    --light-red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    background-color: var(--dark-blue-email-bg);
    color: var(--white);
    font-family: "OpenSans", sans-serif;
    font-size: 0.875rem;
    min-height: 100dvh;
}

h1,
h2 {
    font-family: "Raleway", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10dvh;
}

ul {
    list-style: none;
}

.header {
    padding: 2.5em;
}

.header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 70rem;
}

.header__menu {
    display: flex;
    gap: 3em;
}

.header__menu-link {
    color: var(--white);
    position: relative;
}

.header__menu-link::after {
    background-color: var(--white);
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    transform: scaleX(0);
    transition: transform 150ms ease-out;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}

.header__menu-link:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.features,
.productivity,
.testimonials {
    align-items: center;
    background-color: var(--dark-blue-main-bg);
    display: flex;
    justify-content: center;
}

.features {
    padding: 1.5em;
}

.features__list {
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(2, 1fr);
    max-width: 52rem;
}

.features__item {
    text-align: center;
}

.features__icon {
    margin-inline: auto;
}

.productivity {
    padding: 8em 2em;
}

.productivity__content {
    align-items: center;
    display: flex;
    gap: 3.5em;
    max-width: 70rem;
}

.productivity__image,
.productivity__text {
    flex-basis: 50%;
}

.productivity__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.productivity__title {
    font-size: 2.6rem;
    letter-spacing: .02em;
    line-height: 1.2;
}

.productivity__description {
    line-height: 1.6;
}

.productivity__link {
    align-items: center;
    color: var(--cyan);
    display: flex;
    gap: .5em;
    position: relative;
}

.productivity__link::after {
    background-color: var(--cyan);
    bottom: 0;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
}

.testimonials {
    padding: 7em 2em;
    position: relative;
}

.testimonials__list {
    display: flex;
    gap: 3.5em;
    max-width: 70rem;
}

.testimonials__item {
    background-color: var(--dark-blue-email-bg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    padding: 2em;
    padding-top: 3em;
}

.testimonials__item:first-child {
    position: relative;
    z-index: 2;

}

.testimonials__item:first-child::before {
    content: "";
    position: absolute;
    background-image: url("./images/bg-quotes.png");
    width: 55px;
    height: 46px;
    top: -36px;
    left: -8px;
    z-index: -1;
}

.testimonials__quote {
    line-height: 1.8;
}

.testimonials__info {
    display: flex;
    gap: .8em;
}

.testimonials__avatar {
    width: 35px;
    height: 35px;
}

.testimonials__avatar img {
    border-radius: 50%;
}

.testimonials__details {
    display: flex;
    flex-direction: column;
}

.testimonials__details {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.testimonials__name {
    font-size: .9em;
}

.testimonials__position {
    font-size: .65em;
    opacity: .7;
}